

header{
    background-color: #181938;
    color: white;
    height: 15%;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header .buttons{
  
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  
}

header .buttons a{
    text-decoration: none;
    color: black;
    padding: 0.8rem 1rem;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
}
